<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fancyauth.API" version="1.1" targetFramework="net452" />
  <package id="Fancyauth.APIUtil" version="1.1" targetFramework="net452" />
  <package id="Highlight" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="TweetMoaSharp" version="4.0.2" targetFramework="net452" />
</packages>